@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sarpanch:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

$headerFont: 'Teko', sans-serif;
$mainFont: 'Sarpanch', sans-serif;
$textFont: 'Abel', sans-serif;