.card-one {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}

.card-two {
    max-width: 1440px;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    background: rgb(247, 247, 247);
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}