.card-one {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}

.card-two {
    max-width: 1440px;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    background: rgb(247, 247, 247);
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}

.card-three {
    max-width: 1440px;
    padding: 100px 50px;
    margin: auto;

    .card-info {
        padding: 0 30px 30px;
    }
}

@media (max-width: 600px) {
    .card-one {
        flex-direction: column;
        padding: 50px 20px;
        .card-info {
            width: 100%;
            padding: 30px 30px 0;
        }
        .photos {
            width: 100%;
        }
    }
    .card-two {
        flex-direction: column-reverse;
        padding: 50px 20px;
        .card-info {
            width: 100%;
            padding: 30px 30px 0px;
        }
        .photos {
            width: 100%;
        }
    }
}