.card {
    padding: 100px 50px 0;
    h2, h4 {
        text-align: center;
    }
    .content {
        display: flex;
        p {
            padding: 0 30px;
        }
    }
}
.card-one {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}

.card-two {
    max-width: 1440px;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    background: rgb(247, 247, 247);
    margin: auto;
    .card-info {
        width: 60%;
        padding: 30px;
    }
    .photos {
        width: 40%;
    }
}

.card-three {
    max-width: 1440px;
    padding: 100px 50px;
    margin: auto;

    .card-info {
        padding: 0 30px 30px;
    }
}

.card-four {
    max-width: 1440px;
    padding: 100px 50px;
    margin: auto;
    display: flex;
    align-items: center;
    .card-info {
        padding: 0 30px;
        width: 50%;
    }
    .card-image {
        width: 50%;
        border-radius: 20px;
        box-shadow: 0 20px 50px -14px rgba(0,0,0,0.5);
        overflow: hidden;
        height: 400px;
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .card-one {
        flex-direction: column;
        padding: 50px 20px;
        .card-info {
            width: 100%;
            padding: 30px 30px 0;
        }
        .photos {
            width: 100%;
        }
    }
    .card-two {
        flex-direction: column-reverse;
        padding: 50px 20px;
        .card-info {
            width: 100%;
            padding: 30px 30px 0px;
        }
        .photos {
            width: 100%;
        }
    }
}