footer {
    text-align: center;
    background-image: linear-gradient(to right, #eeeeee, #f1f1f1, #f4f4f4, #f8f8f8, #fbfbfb, #fbfbfb, #fbfbfb, #fbfbfb, #f8f8f8, #f4f4f4, #f1f1f1, #eeeeee);
    // color: #fff;
    padding-bottom: 100px;
    hr {
        width: 90%;
        margin: auto;
    }
    a {
        text-decoration: none;
        color: #212121;
        font-family: $textFont;
        
    }
    .footer {
        display: flex;
        max-width: 1440px;
        margin: auto;
        justify-content: space-around;
        padding: 100px;
        
        .services, .pages, .subscribe, .follow {
            h3 {
                font-family: $headerFont;
                text-transform: uppercase;
                color: $mainColor;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
            }
        }
        .follow {
            ul {
                text-decoration: none;
                margin: 0;
                
                li {
                    margin: 10px 0;
                    .facebook {
                        width: 15px;
                        color: #222;
                    }
                    .instagram {
                        width: 23px;
                        color: #222;
                    }
                    .twitter {
                        width: 23px;
                        color: #222;
                    }
                }
            }
        }
        .subscribe {
            position: relative;
            .subscribe_input {
                width: 320px;
                height: 50px;
                border-radius: 10px;
                border: 1px solid rgb(211, 211, 211);
                box-shadow: 0 20px 50px -14px rgba(0,0,0,0.2);
                background: white;
                padding: 0 10px;
                position: relative;
                
                outline: none;
                font-family: $textFont;
            }
            h3 {
                text-align: left;
            }
            p {
                font-family: $textFont;
                text-align: left;
            }
    
            .icon {
                position: absolute;
                top: 128px;
                right: -28px;
                font-size: 30px;
                padding: 12px 40px;
                border-radius: 10px;
                button {
                    color: #222;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
            
           
        }
    }
    @media (max-width: 768px) {
        .footer {
            padding: 100px 20px 50px;
       
        }
    }
    
}

@media (max-width: 600px) {
    footer {
        padding-bottom: 40px;
        a {
            font-size: 16px;
        }
        .footer {
            padding: 50px 0 0px;
            display: block;
            width: 80%;
            margin: auto;
            .services, .pages, .subscribe, .follow {
                margin-bottom: 20px;
                h3 {
                    font-size: 24px;
                    margin: 0;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #fff;
                }
                ul {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-around;
                    li {
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
            .follow {
                ul {
                    display: flex;
                    justify-content: space-around;
                    li {
                        margin: 0px;
                    }
                }
            }
            .subscribe {
                h3 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                .subscribe_input {
                    width: 300px;
                    height: 40px;
                }
                .icon {
                    position: absolute;
                    top: 99px;
                    right: -15px;
                    font-size: 22px;
                    color: $mainColor;
                    
                    padding: 10px 30px;
                    border-radius: 10px;
                    
                }
                ul {
                    width: 60%;
                    margin: auto;
                    justify-content: space-around;
                    
                }
            }

        }
    }
}