.parallax {
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    
    .parallax-title {
        a {
            text-decoration: none;
            h1 {
                font-size: 80px;
                color: white;
                text-shadow:
                0px -5px 16px rgba(0, 0, 0, 0.2);
                font-family: $headerFont;
            }
        }
                
    }
            
}

@media (max-width: 600px) {
    .react-parallax {
        img {
            max-width: none !important;
          
        }
    }
    .parallax {
        height: 60vh;
        
        .parallax-title {
            a {
                h1 {
                    font-size: 45px;
                }
            }
        }
    }
}